* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.flexContainer {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.sideNav {
    height: 100vh;
    width: 10%;
    background-color: #313A46;
    width: 150px;
    left: 0;
}

.topNav {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
   background-color: #FFFFFF;

}

.content {
    font-family: arial;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
      -webkit-box-shadow: inset 0 8px 4px -4px #ddd;
    -moz-box-shadow: inset 0 8px 4px -4px #ddd;
    box-shadow: inset 0 8px 4px -4px #ddd;
    width: 100%;
    height: 92%;
    background-color: #F5F6F9;
}

.informationNav {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 90%;
}

.userForm {
    margin-left: 50px;
  

}

#searchBtn {
     font-family: arial;
     color: white;
     border-style: none; 
     background-color: #E75D46;
    height: 25px;
    padding: 0 25px;

    
}

#playerField {
    
    font-family: arial;
    font-style: italic;
    background-color: #F5F6F9;   
    border-style: none;
    color: #949BA3;

    height: 25px;
}
::placeholder {
    color: #949BA3;
}

.dashboardTitle {
   
    font-family: arial;
    color: #64696F;
    margin-left: 50px;
    margin-top: 45px;
    height: 10%;
    width: 100%;
    
}

.playerInfo {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
    margin-left: 50px;
    
    
}

.playerCard {
    display: flex;
    justify-content: center; 
    flex-flow: wrap;
    background-color: #FFFFFF;
    color: #64696F;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 25%;
    height: 150px;
}

.playerCardName {
    color: white;
    text-align: center; 
    background-color: #313A46;
    height: 40%;
    width: 100%;
}

.playerCardDetails {
        
}

.heatmapCard{
    display: flex;
    justify-content: center; 
	height: 150px;
    flex-flow: wrap;
    margin-left: 50px;
    color: #64696F;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 799px;
	
}

.heatmap{background-image: url(./hockey-rink-scaled.png);
	height: 204px;
    width: 480px;
}
